/* Redefine Default Settings */
* {
  background-color: hsl(200,100%,97%);
  margin:0px;
  padding:0px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}

:root {
  --last-updated: "1/15/2026";
}

/* Update Fonts */
h1, h2, h3, h4, h5, h6, nav a{
  font-family: Arial, Helvetica, sans-serif;
}

h2, .table-of-contents * {
  text-align: left;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: underline 1px dashed black;
  text-underline-offset: 0.2em;
}

.nav-head a, .table-of-contents a {
  text-decoration: none;
  transition: all ease-in 0.1s;
}

a:hover {
  color: blue;
}

.nav-head a:hover, .table-of-contents a:hover {
  text-shadow: 0 0 1px hsl(200,100%,50%);
}

/* Set Base */

body {
  position: static;
  padding: 10px;
}

p {
  display: block;
  font-size: 16px;
}

section {
  margin: 2%;
}

h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

emph {
  font-style: italic;
}

cite {
  display: block;
  margin: 10px 50px;
  text-indent: 0px;
}

/* General Page Set-Up */

.main-header {
  z-index: -1;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}

.main-title {
  position: absolute;
  top: 12vh;
  left: 5vw;
  z-index: 1;
  font-size: 2rem;
  background-color: hsla(200,100%,90%,0.7);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px hsla(200,100%, 90%,0.7);
}

.nav-head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: hsl(200,95%,90%);
  border-radius: 0 0 10px 10px;
  z-index: 10;
  height: 3rem;
}

.nav-head a {
  background-color: hsl(200,95%,90%);
}

.intro-blurb {
  margin-top: 20px;
}

header p {
  text-indent: 2rem;
  margin: 2%;
}

.table-of-contents {
  padding: 2%;
  position: relative;
}

.table-of-contents ul {
  padding: 2%;
  position: relative;
  left: 1em;
  list-style: none;
}

.table-of-contents li {
  line-height: 2em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 5%;
  margin-top: 7%;
  padding: 2%;
  background-color: hsl(200,95%,90%);
  border-radius: 10px;
}

footer * {
  background-color: hsl(200,95%,90%);
  margin: auto 20px;
  text-align: center;
}

footer .update-blurb::after {
  content: var(--last-updated);
  display: block;
}

/* Cover Photos */

.cover-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#adam-snow {
  transform: scaleX(-1);
  transform-origin: 50% 50%;
}

#adam-elden {
  transform: scale(-1.2, 1.2);
  transform-origin: 54% 60%;
}

#adam-blackboard {
  transform: scale(1.6);
  transform-origin: 60% 75%;
}

#adam-pacific {
  transform: scale(1.0);
  transform-origin: 50% 50%;
}

/* Home Page Styles */

#adam-blue-shirt {
  display: block;
  height: 350px;
  width: 80%;
  object-fit: cover;
  object-position: center 10%;
  margin: 20px auto;
}

.home-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-bottom > div {
  margin: 10px auto;
  text-align: center;
}

.news ul {
  list-style: none;
  max-height: 120px;
  width: 80%;
  overflow-y: auto;
  border: 1px solid black;
  padding: 2px 4px;
  margin: auto;
}

.news-piece {
  margin-top: 0px;
  padding-left: 20px;
  text-align: left;
}

.news li {
  margin-bottom: 10px;
  text-align: left;
}

.custom-bullets {
  list-style: none;
  position: relative;
}

#media-header {
  text-align: center;
  position: relative;
  left: -5%;
}

.media-icon {
  position: relative;
  left: -10%;
  text-align: center;
}

.media-icon::before {
  font-family: "Font Awesome 6 Brands";
  font-weight: 900;
  position: relative;
}

#linkedin-icon::before {
  content: "\f08c";
  color: #0A66C2;
}

#github-icon::before {
  content: "\f09b";
  color: #181717;
}

#orcid-icon::before {
  content: "\f8d2";
  color: #A6CE39;
}

#google-scholar-icon::before {
  content: "\e63b";
  color: #4285F4;
}

/* CV Page Styles */

.info-header {
  font-weight: bold;
}

.cv-subitem, .cv-subitem li {
  list-style: none;
  position: relative;
  margin-left: 30px;
}

.cv {
  padding: 2%;
}

.tight-spacing {
  margin-bottom: 10px;
}
.cv-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
}

.act-des {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.act-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.act-des ul {
  margin: 0;
}

ol {
  padding-left: 1rem;
}

ol li {
  margin-bottom: 0.5rem;
}

.divider {
  margin: 15px auto;
  border: none;
  width: 90%;
  background-color: hsl(200,95%,90%);
  height: 2px;
}

.act-des > p::first-word {
  font-weight: bold;
}

/* Research Page Styles */

.research-graphic {
  display: block;
  margin: auto;
  text-align: center;
  width: 70%;
  margin-bottom: 10px;
}

.research-content h2, h3 {
  margin: 3%;
}

.research-content  p {
  text-indent: 2rem;
  margin: 2%;
  margin-top: 0;
}

/* Research Auxilliaries */

iframe {
  display: block;
  margin: 20px auto;
  width: 80%;
  height: 400px;
}

.research-poster {
  display: block;
  width: 80%;
  margin: 20px auto;
}

/* Teaching Styles */

#statement ul {
  padding-left: 15px;
  margin: 10px;
}
#statement ul li {
  margin-top: 5px;
}

/* Small-Sized Screens */
@media (min-width: 300px) {
  .main-title {
    font-size: 3rem;
  }
}

/* Medium-sized Screens */

@media (min-width: 500px) {
  .main-title {
    font-size: 4rem;
  }
}

@media (min-width: 600px) {
  .research-graphic {
    float: right;
    padding: 2%;
    width: 50%;
    margin: 0;
  }
  .news {
    width: 45%;
  }
  .media-links {
    width: 25%;
  }
  .contact {
    width: 25%;
  }
  #media-header {
    position: relative;
    left: -10%;
  }
  .home-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
  .home-top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  #adam-blue-shirt {
    float: right;
    height: 300px;
    width: 300px;
    padding: 20px;
  }
}

/* Mid-large transition */

@media (min-width: 720px) {
  .main-title {
    font-size: 5rem;
  }
}

/* Large-sized Screens */

@media (min-width: 900px) {
  body {
    margin: auto;
    width: 860px;
  }
  .main-title {
    left: calc(0.05*900px + ( 100vw - 900px) / 2)
  }
}