* {
  margin:0px;
  padding:0px;
}

p {
  display: block;
}

.info-header {
  font-weight: bold;
}

body {
  position: static;
}

.main-header {
  z-index: -1;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}

.main-title {
  position: absolute;
  top: 12vh;
  left: 5vw;
  z-index: 1;
  font-size: 5rem;
  background-color: hsla(200,100%,90%,0.7);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px hsla(200,100%, 90%,0.7);
}

#adam-snow {
  transform: scaleX(-1);
  transform-origin: 50% 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#adam-elden {
  transform: scale(-1.2, 1.2);
  transform-origin: 54% 60%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#adam-blackboard {
  transform: scale(1.6);
  transform-origin: 60% 75%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: hsl(200,95%,90%);
  border-radius: 0 0 10px 10px;
  z-index: 10;
  height: 3rem;
}

.main-grid {
  display: grid;
  grid-template-areas:
  "blurb blurb pic"
  "news links contact";
  grid-gap: 5%;
  justify-items: center;
  align-items: top;
  margin: 5%;
}

.side-blurb {
  grid-area: blurb;
}

#adam-blue-shirt {
  grid-area: pic;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 50%;
}

.table-of-contents {
  padding: 2%;
  position: relative;
}

.table-of-contents ul {
  padding: 2%;
  position: relative;
  left: 1em;
  list-style: none;
}

.table-of-contents li {
  line-height: 2em;
}

.research-graphic {
  float: right;
  height: 50%;
  width: 50%;
  margin: 2%;
}

.research-content h2, h3 {
  margin: 3%;
}

header p {
  text-indent: 2rem;
  margin: 2%;
}

.research-content  p {
  text-align: justify;
  text-indent: 2rem;
  margin: 2%;
  margin-top: 0;
}

.research-flex {
  display: flex;
  align-items: center;
}

.cv-subitem {
  list-style: none;
  position: relative;
  left: 2rem;
  margin-top: 1%;
}

.cv {
  padding: 2%;
}

.cv section {
  margin: 2%;
}

.cv h2 {
  margin-bottom: 1%;
}

.media-links {
  grid-area: links;
}

.custom-bullets {
  list-style: none;
  position: relative;
}

.linkedin-icon {
  position: relative;
  left: 1.5em;
}

.linkedin-icon::before {
  font-family: "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f08c"; /* GitHub icon */
  left: -1.4em;
  position: absolute;
  color: #0A66C2;
}

.github-icon {
  position: relative;
  left: 1.5em;
}

.github-icon::before {
  font-family: "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f09b"; /* GitHub icon */
  left: -1.4em;
  position: absolute;
  color: #181717;
}

.orcid-icon {
  position: relative;
  left: 1.5em;
}

.orcid-icon::before {
  font-family: "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\f8d2"; /* GitHub icon */
  left: -1.4em;
  position: absolute;
  color: #A6CE39;
}

.google-scholar-icon {
  position: relative;
  left: 1.5em;
}

.google-scholar-icon::before {
  font-family: "Font Awesome 6 Brands";
  font-weight: 900;
  content: "\e63b"; /* GitHub icon */
  left: -1.4em;
  position: absolute;
  color: #4285F4;
}

.news {
  grid-area: news;
}

.contact {
  grid-area: contact;
}

.cv-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
}

.act-des {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.act-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
}

ol {
  padding-left: 1rem;
}

ol li {
  margin-bottom: 0.5rem;
}

.divider {
  margin: auto;
  border: none;
  width: 90%;
  background-color: hsl(200,95%,90%);
  height: 2px;
}

.act-des > p::first-word {
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  margin-top: 7%;
  padding: 2%;
  background-color: hsl(200,95%,90%);
  border-radius: 10px;
}