* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
}

.info-header {
  font-weight: bold;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px black solid;
  grid-gap: 0.5rem;
}

.res_exp {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.act_date {
  margin: auto;
}